<div class="container my-2">
  <div class="card-columns">
    <%= render "events/card", event: Event.last%>
    <%= render "static_pages/info_card" %>
    <%= render "posts/vertical_card", post: Post.last %>
  </div>

</div>
