<div class="card bg-light mb-3">
  <div class="card-body text-center">
    <p>
        <%= inline_svg_tag "icon_spenden_sz.svg", class: 'info-card-icon' %>
    </p>
    <h5 class="card-title spaced-letters"><%= "Spenden".upcase %></h5>
    <p>
      <%= link_to root_path do %>
        <button type="button" class="mt-3 btn btn-e-color btn-sm spaced-letters text-nowrap rounded-0"><strong>MEHR ERFAHREN</strong> <%= fa_icon "chevron-right", class: "ml-2" %></button>
      <% end %>
    </p>
  </div>
</div>
