<div class="container-fluid f-color pt-5">
  <div class="container">
    <h5 class="spaced-letters text-white mb-4"><%= "Wie Sie uns auch noch unterstützen können".upcase %></h5>

    <div class="card-deck">
      <%= render "static_pages/info_card3" %>
      <%= render "static_pages/info_card3" %>
      <%= render "static_pages/info_card3" %>
    </div>
  </div>
</div>
