<div class="text-center my-4">
  <h1>Herzlich Willkommen!</h1>
  <p class="lead">
    Hier finden Sie Informationen über die Stiftung <strong>Tiere in Not- Animal Help</strong>, ihre Zielsetzung und ihr Engagement.
  </p>
  <p class="lead">
          Für Ihr Interesse und Ihren Einsatz zugunsten der Tiere danken wir Ihnen herzlich!
  </p>
</div>
