<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>

      <h1 class="my-4 text-darker-base-color"><%= title %></h1>
    </div>
    <div class="text-justify text-darker-base-color">
      <p><strong>Die Stiftung hat es sich zur Aufgabe gemacht,</strong>
</p>
<ul>
	<li/>
<p style="margin-bottom: 0cm">die Umsetzung des
	verfassungsrechtlich verankerten Schutzes der Würde<br/>
der
	Kreatur voranzutreiben;
	</p>
	<li/>
<p style="margin-bottom: 0cm">die Stellung des Tieres als
	Mitgeschöpf zu festigen und
	</p>
	<li/>
<p>als Konsequenz aus den ersten beiden Aufgaben die Tiere vor
	Ausbeutung<br/>
und Missbrauch zu schützen und ihnen - wo immer
	nötig – beizustehen
	</p>
</ul>
<p><br/>
<strong>Zur Erfüllung dieser Aufgaben,</strong>
</p>
<ul>
	<li/>
<p style="margin-bottom: 0cm">nimmt die Stiftung politisch und
	gesellschaftlich Einfluss, um die rechtlich<br/>
oder faktisch dem
	Tier zugewiesene Position den artspezifischen Bedürfnissen gemäss
	zu verbessern und den Tieren aus der Abhängigkeit menschlicher
	Nutzungsinteressen zu verhelfen;
	</p>
	<li/>
<p style="margin-bottom: 0cm">setzt sie sich auch im
	Einzelfall dafür ein, dass der dank der Bemühungen vieler
	Mitmenschen bisher erreichte Tierschutzstandard nicht toter
	Buchstabe bleibt oder dazu verkommt;
	</p>
	<li/>
<p style="margin-bottom: 0cm">bietet sie Tierhaltern,
	Behörden, Schulen und weiteren Interessierten<br/>
Beratung an;
	</p>
	<li/>
<p style="margin-bottom: 0cm">hält sie Kontakt mit Medien,
	anderen Tierschutzorganisationen und Behörden, um Missstände
	effizient und dauerhaft zu bekämpfen und
	</p>
	<li/>
<p>verpflichtet sie sich, agil zu bleiben, um sich jederzeit
	anderer der Zweckerreichung dienlicher Instrumente zu bedienen und
	neue Wege bei der Bewältigung der gestellten Aufgaben zu gehen
	</p>
</ul>
    </div>
  </div>
</div>
