<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>

      <h1 class="my-4 text-darker-base-color">Kontakt</h1>
    </div>
    <div class="text-justify text-darker-base-color">
      <p align="center">Bitte lesen Sie zuerst unsere <a href="https://www.stinah.ch/faq-links/">FAQ's</a>
  </p>
  <p align="center">Sollten Sie weitere Fragen oder Anregungen haben,
  freuen wir uns über Ihre Kontaktaufnahme
  </p>
  <p align="center">&nbsp;
  </p>
  <p align="center">&nbsp;
  </p>
  <p align="center">Für Tieraufnahmen nutzen Sie bitte das
  entsprechende Formular für <a href="https://www.stinah.ch/neues-zuhause-gesucht/ich-biete-einem-tier-ein-neues-zuhause/">Tieraufnahme</a>
  </p>
  <p align="center">&nbsp;
  </p>
  <p align="center">Für Tierabgaben nutzen Sie bitte das entsprechende
  Formular für <a href="https://www.stinah.ch/neues-zuhause-gesucht/ich-suche-ein-neues-zuhause-f%C3%BCr-mein-tier/">Tierabgabe</a>
  </p>
  <p align="center">&nbsp;
  </p>
  <p align="center">Für Patenschaftsanfragen finden Sie das Formular
  unter Spenden&nbsp;<a href="https://www.stinah.ch/faq-links/spenden/patenschaft/">Patenschaft</a>
  </p>
    </div>
  </div>
</div>
