<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>

      <h1 class="my-4 text-darker-base-color">Antworten auf häufig gestellte Fragen</h1>
    </div>
    <div class="text-justify text-darker-base-color">
      <div id="cc-matrix-1893825286" dir="ltr">
      	<div id="cc-m-6760371386" dir="ltr">
      		<p><strong>Ich möchte helfen - wie kann ich Stinah unterstützen?</strong>
      				</p>
      		<p>Die Stiftung Tiere in Not – Animal Help geniesst - abgesehen
      		von der Steuerbefreiung aufgrund ihrer Gemeinnützigkeit -
      		keinerlei staatliche Unterstützung. Sie finanziert ihr Engagement
      		alleine mit Spenden.
      		</p>
      		<p>&nbsp;
      		</p>
      		<p><a href="https://www.stinah.ch/faq-links/spenden/">Wie kann ich
      		Spenden</a>
      		</p>
      		<p><a href="https://www.stinah.ch/faq-links/spenden/g%C3%B6nnerbeitrag/">Wie
      		werde ich Gönner</a>
      		</p>
      		<p><a href="https://www.stinah.ch/faq-links/spenden/patenschaft/">Wie
      		werde ich Pate/Patin</a>
      		</p>
      		<p>&nbsp;
      		</p>
      		<p>&nbsp;
      		</p>
      		<p><strong>Was kann ich als Einzelperson in meinem Umfeld tun?</strong>
      				</p>
      		<p>„Wenn ich das gewusst hätte, dann...“ oder „Ich habe gar
      		nicht gewusst, dass....“ sind oft geäusserte Reaktionen von
      		Personen, die mit Missständen im Bereich der menschlichen Tier-
      		oder Umweltnutzung konfrontiert werden.
      		</p>
      		<p>Ist Ihnen bewusst, dass Sie durch Änderung Ihres
      		Konsumverhaltens aktiven Tier- und Umweltschutz betreiben können?
      		Unter untenstehendem Link (<a href="http://www.vegi-tag.ch/" target="_blank">www.vegi-tag.ch</a>)
      		erfahren Sie den Zusammenhang zwischen menschlichem Konsumverhalten
      		und Tierelend bzw. Umweltzerstörung. Vielleicht gibt der eine oder
      		andere Beitrag einen Ansporn, sein eigenes Konsumverhalten kritisch
      		zu hinterfragen (und bestenfalls zu ändern).
      		</p>
      		<p>Wollen Sie durch Ihre Ernährungsweise ein Zeichen setzen gegen
      		die Missstände in der Tierhaltung und der
      		Nahrungsmittelproduktion? Dann nehmen Sie Teil am Vegi-Tag:&nbsp;
      		</p>
      		<p><a href="http://www.vegi-tag.ch/" target="_blank">www.vegi-tag.ch</a>
      				</p>
      		<p>&nbsp;
      		</p>
      		<p>&nbsp;
      		</p>
      		<p><strong>Das Tier, welches mir am meisten am Herzen liegt hat
      		bereits einen Teilpaten - nutzt es dennoch, wenn ich auch noch ein
      		Teilpate werde?</strong>
      		</p>
      		<p>Ja, auf jeden Fall. Eine Teilpatenschaft deckt meist knapp einen
      		Zehntel der monatlichen Unterhaltskosten eines Tieres. Da es nicht
      		jedem möglich ist, eine Vollpatenschaft zu übernehmen, besteht
      		die Möglichkeit eine Teilpatenschaft mit einem individuellen
      		monatlichen Betrag zu übernehmen. Weitere Informationen finden Sie
      		unter <a href="https://www.stinah.ch/faq-links/spenden/patenschaft/">Patenschaften</a>.
      				</p>
      	</div>
      </div>
      <p><br/>
      <br/>

      </p>
      <p><strong>Kann ich meine Spende von den Steuern absetzen?</strong></p>
      <p>Zuwendungen an die Stiftung sind steuerlich absetzbar. Da die
      Stiftungsräte ehrenamtlich arbeiten, fliessen die Zuwendungen
      vollumfänglich der Tierschutzarbeit zu.
      </p>
      <p>&nbsp;
      </p>
      <p><br/>
      <strong>Kann ich Naturalien spenden?</strong>
      </p>
      <p>Gerne können Sie die Arbeit von Stinah mit einer Naturalspende
      unterstützen. Die Stiftung braucht für ihre verschiedenen Projekte,
      für ihr Tierheim, für Anlässe etc. diverses Material, vom PC bis
      zur Pinwand, vom Striegel bis zur Einstreu, vom Pensionsplatz bis zum
      Verbandsmaterial. Mehr Informationen finden Sie unter Spenden
      <a href="https://www.stinah.ch/faq-links/spenden/naturalspende-zeitspende/">Naturalspende</a>.
      </p>
      <p>&nbsp;
      </p>
      <p>&nbsp;
      </p>
      <p><strong>Kann ich Stinah besuchen?</strong>
      </p>
      <p>Wir freuen uns, wenn Sie uns besuchen, um sich vor Ort ein Bild
      über unsere Arbeit zu machen. Wir bitten Sie aber um Verständnis,
      dass wir uns nur zur Verfügung halten können, wenn Ihr Besuch
      vorangemeldet ist. Unser Zeithaushalt erlaubt es leider nicht,
      uneingeschränkt zur Verfügung zu stehen.<br/>
      Falls Sie unseren Hof
      unangemeldet besuchen, bitten wir Sie, zu akzeptieren, dass wir unter
      Umständen keine Führung vornehmen können und durch dringende
      Arbeiten absorbiert sind. Aus Haftpflichtgründen bitten wir, das
      Hofareal nicht unbegleitet zu betreten und insbesondere den Kontakt
      zu den Tieren zu meiden. Das Füttern der Tiere ist grundsätzlich
      untersagt.&nbsp;<br/>
      Anlässlich eines angemeldeten Besuchs zeigen
      wir Ihnen gerne den Hof und beantworten Ihre Fragen.&nbsp;Nehmen Sie
      mit uns&nbsp;<a href="http://www.stinah.ch/kontakt.php" target="_top"><u>Kontakt</u></a>&nbsp;auf
      - wir freuen uns, Sie kennenzulernen!&nbsp;
      </p>
    </div>
  </div>
</div>
