<div class="container">
  <div class="jumbotron bg-white my-4">

    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>

      <h1 class="my-4 text-darker-base-color">Antworten auf häufig gestellte Fragen</h1>
    </div>
    <!-- Anfang-->
    <div class="text-justify text-darker-base-color">

      <hr />
      <ul>
        <li>
          <a id="help" href="#">Ich möchte helfen - wie kann ich Stinah unterstützen?</a>
        </li>
        <li>
          <a id="umfeld" href="#">Was kann ich als Einzelperson in meinem Umfeld tun? </a>
        </li>
        <li>
          <a id="paten" href="#">Das Tier, welches mir am meisten am Herzen liegt hat bereits einen Teilpaten - nutzt es dennoch, wenn ich auch noch ein Teilpate werde?</a>
        </li>
        <li>
          <a id="steuer" href="#">Kann ich meine Spende von den Steuern absetzen?</a>
        </li>
        <li>
          <a id="naturalien" href="#">Kann ich Naturalien spenden?</a>
        </li>
        <li>
          <a id="visit" href="#">Kann ich Stinah besuchen?</a>
        </li>
      </ul>
      <hr />
      <!-- First row -->
      <div class="py-3"></div>
      <a name="help"></a>
      <h4 class="text-center">Ich möchte helfen - wie kann ich Stinah unterstützen?</h4>
      <p>
        Die Stiftung Tiere in Not – Animal Help geniesst - abgesehen von der Steuerbefreiung aufgrund ihrer Gemeinnützigkeit - keinerlei staatliche Unterstützung.
        Sie finanziert ihr Engagement alleine mit Spenden.
      </p>
      <hr />
      <div class="py-3"></div>
      <a name="umfeld"></a>
      <h4 class="text-center">Was kann ich als Einzelperson in meinem Umfeld tun?</h4>
      <p>
        „Wenn ich das gewusst hätte, dann...“ oder „Ich habe gar nicht gewusst, dass....“ sind oft geäusserte Reaktionen von Personen, die mit Missständen im Bereich der menschlichen Tier- oder Umweltnutzung konfrontiert werden.

        Ist Ihnen bewusst, dass Sie durch Änderung Ihres Konsumverhaltens aktiven Tier- und Umweltschutz betreiben können? Unter untenstehendem Link (www.vegi-tag.ch) erfahren Sie den Zusammenhang zwischen menschlichem Konsumverhalten und Tierelend bzw. Umweltzerstörung. Vielleicht gibt der eine oder andere Beitrag einen Ansporn, sein eigenes Konsumverhalten kritisch zu hinterfragen (und bestenfalls zu ändern).

        Wollen Sie durch Ihre Ernährungsweise ein Zeichen setzen gegen die Missstände in der Tierhaltung und der Nahrungsmittelproduktion? Dann nehmen Sie Teil am Vegi-Tag:

        www.vegi-tag.ch
      </p>
      <hr />
      <div class="py-3"></div>
      <a name="paten"></a>
      <h4 class="text-center">Das Tier, welches mir am meisten am Herzen liegt hat bereits einen Teilpaten - nutzt es dennoch, wenn ich auch noch ein Teilpate werde?</h4>
      <p>
        Ja, auf jeden Fall. Eine Teilpatenschaft deckt meist knapp einen Zehntel der monatlichen Unterhaltskosten eines Tieres. Da es nicht jedem möglich ist, eine Vollpatenschaft zu übernehmen, besteht die Möglichkeit eine Teilpatenschaft mit einem individuellen monatlichen Betrag zu übernehmen. Weitere Informationen finden Sie unter Patenschaften.
      </p>
      <hr />
      <div class="py-3"></div>
      <a name="steuer"></a>
      <h4 class="text-center">Kann ich meine Spende von den Steuern absetzen?</h4>
      <p>
        Zuwendungen an die Stiftung sind steuerlich absetzbar. Da die Stiftungsräte ehrenamtlich arbeiten, fliessen die Zuwendungen vollumfänglich der Tierschutzarbeit zu.
      </p>
      <hr />
      <div class="py-3"></div>
      <a name="naturalien"></a>
      <h4 class="text-center">Kann ich Naturalien spenden?</h4>
      <p>
        Gerne können Sie die Arbeit von Stinah mit einer Naturalspende unterstützen. Die Stiftung braucht für ihre verschiedenen Projekte, für ihr Tierheim, für Anlässe etc. diverses Material, vom PC bis zur Pinwand, vom Striegel bis zur Einstreu, vom Pensionsplatz bis zum Verbandsmaterial. Mehr Informationen finden Sie unter Spenden Naturalspende.
      </p>
      <hr />
      <div class="py-3"></div>
      <a name="visit"></a>
      <h4 class="text-center">Kann ich Stinah besuchen?</h4>
      <p>
        Wir freuen uns, wenn Sie uns besuchen, um sich vor Ort ein Bild über unsere Arbeit zu machen. Wir bitten Sie aber um Verständnis, dass wir uns nur zur Verfügung halten können, wenn Ihr Besuch vorangemeldet ist. Unser Zeithaushalt erlaubt es leider nicht, uneingeschränkt zur Verfügung zu stehen.
Falls Sie unseren Hof unangemeldet besuchen, bitten wir Sie, zu akzeptieren, dass wir unter Umständen keine Führung vornehmen können und durch dringende Arbeiten absorbiert sind. Aus Haftpflichtgründen bitten wir, das Hofareal nicht unbegleitet zu betreten und insbesondere den Kontakt zu den Tieren zu meiden. Das Füttern der Tiere ist grundsätzlich untersagt.
Anlässlich eines angemeldeten Besuchs zeigen wir Ihnen gerne den Hof und beantworten Ihre Fragen. Nehmen Sie mit uns Kontakt auf - wir freuen uns, Sie kennenzulernen!
      </p>
      <hr />


    </div>
  </div>
</div>


<script>
$( document ).ready(function() {

  function scrollToAnchor(aid){
    var aTag = $("a[name='"+ aid +"']");
    $('html,body').animate({scrollTop: aTag.offset().top},'slow');
  }

  $("#help").click(function() {
   scrollToAnchor('help');
  });
  $("#umfeld").click(function() {
   scrollToAnchor('umfeld');
  });
  $("#paten").click(function() {
   scrollToAnchor('paten');
  });
  $("#steuer").click(function() {
   scrollToAnchor('steuer');
  });
  $("#naturalien").click(function() {
   scrollToAnchor('naturalien');
  });
  $("#visit").click(function() {
   scrollToAnchor('visit');
  });
});
</script>
