<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>

      <h1 class="my-4 text-darker-base-color">Neues Zuhause gesucht</h1>
    </div>
    <div class="text-justify">
      <p class="text-darker-base-color my-4"> Stinah versucht für Tiere, die sich in Notsituationen befinden, ein neues Zuhause zu finden.

        Die Platzsuchen werden jeweils unter AKTUELL ausgeschrieben.
      </p>
        <hr />
      <p class="text-darker-base-color my-4">
        Sie können einem Tier ein neues Zuhause bieten? Wir freuen uns über Ihre Kontaktaufnahme:

    Ich biete einem Tier ein neues Zuhause
    </p>
    </div>
  </div>
</div>
