<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag("stinah-logo.png", class: "img-fluid mb-4") %>
      <% end %>

    <h1 class="my-4 text-darker-base-color"><%= title %></h1>
    </div>
    <div class="text-justify text-darker-base-color">
    <hr />
    <ul>
      <li>
        <a id="spende" href="#">Spende</a>
      </li>
      <li>
        <a id="goennerbeitrag" href="#">Gönnerbeitrag</a>
      </li>
      <li>
        <a id="patenschaft" href="#">Patenschaft</a>
      </li>
      <li>
        <a id="natural" href="#">Naturalspende / Zeitspende</a>
      </li>
      <li>
        <a id="legat" href="#">Legat - Erbeinsetzung</a>
      </li>
    </ul>
    <hr />
      <a name="spende"></a>
      <div class="row">
        <div class="col-md-6 col-sm-12">
              <h3>Spende</h3>
          		<p>Mit einer Spende helfen Sie der Stiftung, ihren täglichen
          		Einsatz zugunsten der Tiere zu finanzieren.
          		</p>
              <div class="alert alert-info">
                Ihre Zuwendung kommt voll und ganz den Tieren zu und ist steuerlich absetzbar.
                <br /><br />
                Sämtliche administrative Kosten der Stiftungstätigkeit werden von
            		den Stiftungsräten getragen.
              </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>Kontoverbindung</h4>
            <p>
              <strong>PC-Konto:</strong> 90-153438-8
            </p>
            <p>
          <strong>Adresse:</strong><br/>
          Stiftung
            Tiere in Not - Animal Help (Stinah)<br/>
          c/o
            Krepper Spring Partner<br/>
          Sophienstrasse 2<br />
          CH-8032 Zürich
            </p>
            <p>
          <br/>
          <strong>IBAN
            Nummer elektronisch: </strong><br/>
          CH0309000000901534388<br/>
          <br/>
          <strong>IBAN
            Nummer in Papierform:</strong><br/>
          IBAN CH03
            0900 0000 9015 3438 8<br/>
          <br/>
          <strong>SWIFT
            Code / BIC PostFinance:</strong><br/>
          POFICHBEXXX<br/>
          <br/>
          <strong>Clearing
            Nummer PostFinance:</strong><br/>
          09000<br/>
          <br/>
          <strong>Name
            des Finanzinstituts:</strong><br/>
          SWISS POST -
            PostFinance,<br/>
          Nordring 8, 3030
            Bern, Schweiz
            </p>
          </div>
        </div>
          <hr />
          <a name="goennerbeitrag"></a>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                    <h3>Gönnerbeitrag</h3>
                		<p>
                      Mit einem <b>jährlichen Gönnerbeitrag</b> helfen Sie der Stiftung,
                      ihren täglichen Einsatz zugunsten der Tiere zu finanzieren.
                		</p>
                    <p>
                      Mit Ihrer <b>Zusage</b>, diesen Beitrag auch im Folgejahr zu leisten, ermöglichen Sie der Stiftung, ein längerfristiges finanzielle Engagement - wie zum Beispiel die Aufnahme eines Stiftungstieres - zu planen und zu realisieren. Ihre Zuwendung kommt voll und ganz den Tieren zu. Sämtliche administrative Kosten der Stiftungstätigkeit werden von den Stiftungsräten getragen.
                    </p>
              </div>
              <div class="col-md-6 col-sm-12">
                <div>
                  <h4>Kontoverbindung</h4>
                  </p>
                  <p>
                    <strong>PC-Konto:</strong> 90-153438-8
                  </p>
                  <p>
                <strong>Adresse:</strong><br/>
                Stiftung
                  Tiere in Not - Animal Help (Stinah)<br/>
                c/o Schuler Steiger Partner <br/>
                Zeltweg 7 <br />
                CH-8032 Zürich
                  </p>
                  <p>
                <br/>
                <strong>IBAN
                  Nummer elektronisch: </strong><br/>
                CH0309000000901534388<br/>
                <br/>
                <strong>IBAN
                  Nummer in Papierform:</strong><br/>
                IBAN CH03 0900 0000 9015 3438 8 <br/>
                <br/>
                <strong>SWIFT
                  Code / BIC PostFinance:</strong><br/>
                POFICHBEXXX<br/>
                <br/>
                <strong>Clearing
                  Nummer PostFinance:</strong><br/>
                09000<br/>
                <br/>
                <strong>Name
                  des Finanzinstituts:</strong><br/>
                SWISS POST -
                  PostFinance,<br/>
                Nordring 8, 3030
                  Bern, Schweiz
                  </p>
                </div>
                </div>
              </div>
              <hr />
              <a name="patenschaft"/>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                      <h3>Patenschaft</h3>
                      <p>
                        Die doppelte Zwecksetzung der Stiftung Tiere in Not – Animal Help (institutioneller und individueller Tierschutz) bringt es mit sich, dass nicht nur im Detail überblickbare, finanziell abgeschlossene Projekte Inhalt unseres Engagements bilden. Durch den Einsatz für einzelne, in Not geratene Tiere entstehen auch nicht fix kalkulierbare Aufwendungen, die ohne Schaden für das betroffene Lebewesen nicht reduziert werden können. Dieser finanzielle Aufwand ist umso beträchtlicher, als sich Stinah im Individualtierschutz schwerpunktmässig für Grosstiere einsetzt.
                      </p>
                      <p>
                        Die mit der Unterbringung und Pflege von Pferden, Kühen, Ziegen, Eseln, Schweinen etc. einhergehenden hohen Kosten und die Seltenheit guter Platzierungsmöglichkeiten sind die Hauptgründe dafür, dass zugunsten der Nutztiere nur sehr wenige Institutionen mit zumeist stark eingeschränkten Aufnahmemöglichkeiten existieren. Mit einer Patenschaft helfen Sie, einzelnen Tieren Zuflucht zu bieten und ihnen ein gesichertes Dasein zu gewährleisten.
                      </p>
                      <p>
                        Aus einer die heutige Situation erfassenden Gesamtsicht heraus mag dieses Engagement für ein einzelnes Tier allenfalls als wenig effizient erscheinen. Jedoch übernimmt ein solches Individuum immer auch die Funktion eines Botschafters seiner Art, vermittelt den Wert des Wesens an sich und vermag zusammen mit seiner Geschichte einen gewichtigen tierschützerischen Beitrag zu leisten. Aus der Sicht des Individuums schliesslich ist ihm gegenüber geleistete Hilfe letztlich Leben an sich und in Form eines artgerechten Lebens das Höchste, was man für ein Mitlebewesen tun kann.
                      </p>
                </div>
                <div class="col-md-6 col-sm-12">
                  <h5>Patenschaftsformen</h5>
                  <p>
                    Eine Patenschaft bedeutet die finanzielle Unterstützung eines bestimmten, von der Stiftung übernommenen Tieres. Das Patenschaftsprojekt der Stiftung Tiere in Not – Animal Help sieht vom finanziellen Engagement des Paten her zwei verschiedene Patenschaftsformen vor, nämlich:
                  </p>
                  <h5>Teil-Patenschaft</h5>
                  <p>
                    Die Teil-Patin/der Teil-Pate unterstützt ihr/sein Patentier mit einem regelmässigen, in der Höhe von ihr/ihm selbst festgesetzten Beitrag (minimaler Betrag CHF 30.- pro Monat).
                  </p>
                  <h5>Voll-Patenschaft</h5>
                  <p>
                    Die Voll-Patin/der Voll-Pate kommt für sämtliche monatlichen Unterbringungskosten ihres/seines Patentieres auf. Diese Form der Patenschaft ist insbesondere auch für Personen gedacht, die ihr Tier aus anderen als monetären Gründen nicht mehr halten können und denen ein Verkauf des Tieres nicht möglich (z.B. infolge Alters) oder nicht erwünscht ist (z.B. weil ausgeschlossen werden soll, dass das Tier weitergereicht wird).
                  </p>
                  <p>
                    Es würde uns freuen, wenn Sie sich für die Übernahme einer Patenschaft entscheiden könnten. Für offengebliebene Frage betreffend Patenschaft stehen wir Ihnen natürlich jederzeit gerne zur Verfügung.
                  </p>
                  </div>
                </div>
              <hr />
            <a name="natural"></a>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                    <h3>Naturalspende</h3>
                    <p>
                      Gerne können Sie die Arbeit von Stinah mit einer Naturalspende unterstützen. Die Stiftung braucht für ihre verschiedenen Projekte, für ihr Tierheim, für Anlässe etc. diverses Material.
                    </p>
                    <p>
                      <ul>
                        <li>
                          Vom PC bis zur Pinwand
                        </li>
                        <li>
                          Striegel
                        </li>
                        <li>
                          Decken
                        </li>
                        <li>
                          Halfter
                        </li>
                        <li>
                          Futternäpfe
                        </li>
                        <li>
                          Einstreu
                        </li>
                        <li>
                          Verbandsmaterial
                        </li>
                      </ul>
                    </p>
                    <p>
                      Falls Sie Stinah ein Naturalspende zukommen lassen möchten, können Sie sich über das Kontaktformular an uns wenden. Herzlichen Dank!
                    </p>
              </div>
              <div class="col-md-6 col-sm-12">
                <h3>Zeitspende</h3>
                <p>
                  Spenden Sie uns Ihre Zeit. Sie haben an bestimmten Tagen freie Zeit zur Verfügung, die Sie sinnvoll für die Stinah Tiere spenden möchten? Wir freuen uns auf Ihre Kontaktaufnahme.
                </p>
                </div>
              </div>
              <hr />
              <a name="legat"></a>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                      <h3>Legat - Erbeinsetzung</h3>
                      <p>
                        Mit einem Legat oder einer Erbeinsetzung können Sie über die Lebenszeit hinaus bestimmen, wie Ihr Vermögen verwendet werden, ja wo es Spuren hinterlassen soll.
                      </p>
                      <p>
                        Eine solche Begünstigung ist ein wichtiger und sehr persönlicher Entscheid, der ein grosses Vertrauen in diejenigen verlangt, die das Vermächtnis hernach umsetzen sollen. Sie sind herzlich eingeladen, Stinah und uns, die wir für eine allfällige Umsetzung Ihres mit einer Begünstigung einhergehenden Auftrags verantwortlich zeichnen, kennen zu lernen. Zögern Sie nicht, zu prüfen und zu hinterfragen, nur durch vertiefte Kenntnis erlangen Sie letztlich die Gewissheit, sich verlässlich am richtigen Ort zu engagieren.
                      </p>
                </div>
                <div class="col-md-6 col-sm-12">
                  <h3>&nbsp;</h3>
                  <p>
                    Für eine Begünstigung von Todes wegen bedarf es einer letztwilligen Verfügung. Die Möglichkeiten sind vielfältig, werden aber von einem rechtlichen Rahmen umgeben, den zu kennen für die Gültigkeit der Verfügung wichtig ist.
                  </p>
                  <p>
                    Für Fragen im Zusammenhang mit einer Begünstigung von Stinah steht Ihnen Rechtsanwalt Roland Schaub, Limmatquai 72, 8001 Zürich (Tel. 044 268 30 30) gerne als Berater zur Verfügung.
                  </p>
                  </div>
                </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {

  function scrollToAnchor(aid){
    var aTag = $("a[name='"+ aid +"']");
    $('html,body').animate({scrollTop: aTag.offset().top},'slow');
  }

  $("#spende").click(function() {
   scrollToAnchor('spende');
  });
  $("#goennerbeitrag").click(function() {
   scrollToAnchor('goennerbeitrag');
  });
  $("#patenschaft").click(function() {
   scrollToAnchor('patenschaft');
  });
  $("#natural").click(function() {
   scrollToAnchor('natural');
  });
  $("#legat").click(function() {
   scrollToAnchor('legat');
  });
});
</script>
