<div class="container">
  <div class="jumbotron bg-white my-4">
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>Platz-Angebote (Ich biete ein Heim)</th>
        <th>
          Matches
        </th>
      </tr>
    </thead>
    <tbody>
      <% @home_offers.each do |home_offer| %>
        <tr>
          <td>
            <%= home_offer.id %>
          </td>
          <td><%= link_to "#{home_offer.class.model_name.human} - #{l(home_offer.created_at)}", home_offer_path(home_offer) %></td>
          <td>
            <% matches = RequestOfferComparison.new.find_matches_for_offer(home_offer) %>
            <%= link_to "#{matches.count} Matches gefunden", compare_path(home_offer, matches.first), class: "btn btn-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%#= render partial: "home_offers/show", collection: @home_offers, as: :home_offer %>
  </div>
</div>
