<div class="container">
  <div class="jumbotron bg-white my-4">
      <h3><%= HomeOffer.model_name.human %></h3>
      <br />
      <%= render "home_offers/search_form", home_offers: @home_offers %>
      <br />
      <div class="home_offers">
        <%= render "home_offers/home_offers", home_offers: @home_offers %>
      </div>
  </div>
</div>
