<div class="container-fluid">
  <div class="jumbotron bg-white text-justify text-darker-base-color">
    <div class="row">
      <div class="col-6">
        <p>
          <%= HomeRequest.model_name.human %>: <%= @home_offer.firstname %> <%= @home_offer.lastname %>
        </p>

      </div>
      <div class="col-6">
        Platz-Nachfrage-ID: <%#= @matches_for_home_offer.last.id %>

      </div>
    </div>
      <%= render 'shared/comparison_home_offer_home_request', home_offer: @home_offer, home_request: @home_request unless @home_request.nil? || @home_offer.nil? %>
      <%#= render 'shared/comparison_home_offer_home_request', home_offer: @homer_offer, home_request: @home_request %>

  </div>
</div>
