<div class="container bg-white">
  <div class="jumbotron bg-white text-justify text-darker-base-color">
    <h2 class="text-center">Ich biete einem Tier ein neues Zuhause</h2>
    <p>
      Herzlichen Dank, dass Sie einem Tier in schwieriger Situation helfen wollen. Der Verzicht darauf, die Tierproduktion durch die eigene Nachfrage bei Produzenten anzukurbeln, ist der effizienteste Beitrag zur Vermeidung von Tierleid und die Aufnahme eines betroffenen Individuums an einen wohlumsorgten Platz bedeutet für dieses vielfach Leben.
    </p>
    <p>
      Bitte beachten Sie, dass die Stiftung für die Gesundheit, eine bestimmte Eigenschaft eines Tieres bzw. deren Fehlen keine Gewährleistung übernehmen kann.
    </p>
    <p>
      Tiere, die aus dem Eigentum der Stiftung - also nicht direkt über die Kontaktherstellung - gegen Schutzgebühr zur Pflege platziert werden, sind tierärztlich versorgt. Interessieren Sie sich für ein solches Tier, so werden wir Sie über sämtliche uns bekannten Verhaltensbesonderheiten oder Krankengeschichten informiert und können sich auch nach der Übernahme des Tieres jederzeit mit Fragen an uns richten. Die Weiterbetreuung von aus der Stiftung vermittelten Tieren ist uns ein grosses Anliegen.
    </p>
    <p>
      <b>Sobald wir Ihr Formular erhalten haben, werden wir uns mit Ihnen in Verbindung setzen.</b>
    </p>
  </div>
  <div class="jumbotron">
    <%= render 'form', home_offer: @home_offer %>
  </div>
  <p class="p-2">

  </p>
</div>
