<div class="container bg-white">
  <div class="jumbotron bg-white text-justify">
    <div class="text-darker-base-color">
    <h2 class="text-center">Formular wurde eingereicht!</h2>
    <p class="text-center">
      Herzlichen Dank!
    </p>
</div>
</div>
    <p class="p-2">

    </p>
</div>
