<div class="card bg-light mb-3">
  <div class="card-header">Abonniere unseren Newsletter!</div>
  <div class="card-body">
    <%= render "newsletters/form", newsletter: Newsletter.new %>
  </div>
</div>
