<h1>Neues Platz-Angebot für Hühner</h1>
<p>
  <b>Name: </b> <%= @chicken_adoption.name %>
</p>
<p>
  Alle Platz-Angebote sind hier zu finden: <%= link_to "Platz-Angebote", chicken_adoptions_url %>.
</p>
