<div id="<%= random_id %>">

</div>

<script>
  $( document ).ready(function() {
    $("#<%= random_id %>").jsSocials({
      showLabel: false,
      showCount: false,
      shares: ["facebook", "twitter", "googleplus", "email"],
      url: "<%= url %>",
      text: "<%= text %>",
    });
  });
</script>
