<div class="container">
  <h3 class="text-center text-darker-base-color">Kommende Events</h3>
  <% events = Event.where("start > ?", DateTime.now).order("start") %>
  <%= render partial: "events/show", collection: events, as: :event %>
  <% if events.empty? %>
    <p>
      Zurzeit gibt es keine kommenden Events.
    </p>
    <p>
      Abonnieren Sie unseren Newsletter, um auf dem Laufenden zu bleiben!
    </p>
    <p>
      -> Newsletter
    </p>
  <% end %>
  <br />
  <br />
  <h3 class="text-center text-darker-base-color">Vergangene Events</h3>
  <% past_events = Event.where("start < ?", DateTime.now).order("start") %>
  <%= render partial: "events/show", collection: events, as: :event %>

</div>
