<div class="container">
  <h1>Seiten</h1>

  <p>
    <%= link_to 'Neue Seite erstellen', new_page_path %>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <th scope="row"><%= page.title %></th>
          <td><%= link_to 'Bearbeiten', edit_page_path(page) %></td>
          <td><%= link_to 'Löschen', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
