<% animals_without_sponsorship = AnimalsSearch.new(search_inputs: {sponsorship_status: "without_sponsorship"}).search %>

<div id="animal_in_need_of_sponsorship">
  <%= render 'animals/animal_in_need_of_sponsorship', animal: animals_without_sponsorship.first %>
</div>

<script>
    $(document).ready(function(){

      var array_of_animal_ids = <%= animals_without_sponsorship.pluck(:id) %>;
      var card_div = "#animal_in_need_of_sponsorship";
      console.log(array_of_animal_ids);

      // get new animal
      function get_new_animal(){
        console.log(array_of_animal_ids[Math.floor(Math.random()*array_of_animal_ids.length)]);
        $.ajax({
          url: "/animals/animal_in_need_of_sponsorship/" + array_of_animal_ids[Math.floor(Math.random()*array_of_animal_ids.length)],
          method: 'GET'
        }).done(function(response) {
          $(card_div).fadeOut("fast", function(){
            $(card_div).empty().append(response).fadeIn("fast");
          });
      });
      }

      // loop
      window.setInterval(function(){
            get_new_animal();
      }, 6000);
    });
</script>
