<% animal_without_sponsorship = AnimalsSearch.new(search_inputs: {sponsorship_status: "without_sponsorship"}).search.sample %>

<div id="animal_in_need_of_sponsorship">
  <%= render 'animals/animal_in_need_of_sponsorship', animal: animal_without_sponsorship %>
</div>

<script>
    $(document).ready(function(){
      //setTimeout(function(){ getNewAnimalInNeedOfSponsorship() }, 12000);

      if(window.myInterval != undefined && window.myInterval != 'undefined'){
          window.clearInterval(window.myInterval);
      }

      window.myInterval = setInterval(function() { getNewAnimalInNeedOfSponsorship(); }, 8000);

    });
</script>
