<div class="d-none d-lg-block">
  <% animals.in_groups_of(3, false).each do |group| %>
    <div class="card-deck">
      <% group.each do |animal| %>
        <%= render 'show', animal: animal %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="d-block d-lg-none">
  <% animals.in_groups_of(2, false).each do |group| %>
    <div class="card-deck">
      <% group.each do |animal| %>
        <%= render 'show', animal: animal %>
      <% end %>
    </div>
  <% end %>
</div>

  <%= paginate animals, params: {controller: 'animals', action: 'index'} %>
