<div class="container">
  <div class="jumbotron bg-white">
    <h1>Patenschaften</h1>
    <hr>
    <%= render "sponsorships/search_form", sponsorships: @sponsorships %>
    <br />
    <%#= render partial: "sponsorships/animals_with_sponsorships", collection: @animals_with_sponsorships, as: :animals_with_sponsorships %>
    <div class="sponsorships">
        <%= render "sponsorships/animals_with_sponsorships", sponsorships: @sponsorships %>
    </div>

    <hr />
    <h5>Patenschaft erstellen (keine Mail wird versandt)</h5>
    <%= render 'sponsorships/form_without_sending_mail', sponsorship: Sponsorship.new %>
  </div>
</div>
