<div class="container">
  <div class="jumbotron bg-white">
    <h1>Patenschaften</h1>
    <hr>
    <%#= render partial: "sponsorships/animals_with_sponsorships", collection: @animals_with_sponsorships, as: :animals_with_sponsorships %>
    <%= render "sponsorships/animals_with_sponsorships", animals_with_sponsorships: @animals_with_sponsorships %>
  </div>
</div>
