<div class="container">
  <div class="jumbotron bg-white my-4">
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>Platz-Anfragen (Ich suche ein Heim)</th>
      </tr>
    </thead>
    <tbody>
      <% @home_requests.each do |home_request| %>
        <tr>
          <td>
            <%= home_request.id %>
          </td>
          <td><%= link_to "#{home_request.class.model_name.human} - #{l(home_request.created_at)}", home_request_path(home_request) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%#= render partial: "home_requests/show", collection: @home_requests, as: :home_request %>
  </div>
</div>
