<div class="container">
  <div class="jumbotron bg-white my-4">
      <h3><%= HomeRequest.model_name.human %></h3>
      <br />
      <%= render "home_requests/search_form", home_requests: @home_requests %>
      <br />
      <div class="home_requests">
        <%= render "home_requests/home_requests", home_requests: @home_requests %>
      </div>
  </div>
</div>
