<div class="container bg-white">
  <div class="jumbotron bg-white text-justify">
    <div class="text-darker-base-color">
    <h2 class="text-center">Bestätigung</h2>
    <p>
      Bitte lesen Sie die Bedingungen durch.
    </p>
    <p>
      Wenn Sie mit den Bedingungen einverstanden sind,
      schreiben Sie eine Bestätigungsmail an <%= mail_to "info@stinah.ch", "info@stinah.ch", subject: "Bestätigung der Bedingungen", body: "Hiermit bestätige ich die von STINAH gestellten Bedingungen für die Tiervermittlung" %>
    </p>
    <p>
      <strong></strong>
    </p>
</div>
</div>
    <p class="p-2">

    </p>
</div>
