<div class="container">
  <% if is_current_user_admin? %>
    <div class="text-center">
      <%= link_to 'Neuer Eintrag', new_post_path, class: "btn btn-primary my-2" %>
    </div><hr />
  <% end %>
  <%= paginate @posts %>
  <%= render partial: "posts/show", collection: @posts, as: :post %>
</div>
