<h1>Vielen Dank für Ihre Patenschaft!</h1>
<p>
  Mit einer Patenschaft helfen Sie der Stiftung, ihren täglichen Einsatz zugunsten der Tiere zu finanzieren.
</p>
<p>
  Ihre Zuwendung kommt voll und ganz den Tieren zu. Sämtliche administrative Kosten der Stiftungstätigkeit werden von den Stiftungsräten getragen.
</p>
<p>
  <b>Kontoverbindung: PC-Konto: 90-153438-8</b>
</p>
<p>
    <br/>
    <span>Adresse:</span><br/>
    <span>Stiftung Tiere in Not - Animal Help (Stinah)</span><br/>
    <span>c/o Krepper Spring Partner</span><br/>
    Sophienstrasse 2
</p>

<p>
    <span>CH-8032 Zürich</span><br/>
    <br/>
    <span>IBAN Nummer elektronisch:</span><br/>
    <span>CH0309000000901534388</span><br/>
    <br/>
    <span>IBAN Nummer in Papierform:</span><br/>
    <span>IBAN CH03 0900 0000 9015 3438 8</span><br/>
    <br/>
    <span>SWIFT Code / BIC PostFinance:</span><br/>
    <span>POFICHBEXXX</span><br/>
    <br/>
    <span>Clearing Nummer PostFinance:</span><br/>
    <span>09000</span><br/>
    <br/>
    <span>Name des Finanzinstituts:</span><br/>
    <span>SWISS POST - PostFinance,</span><br/>
    <span>Nordring 8, 3030 Bern, Schweiz</span>
</p>
<p>
  Vielen Dank und tierische Grüsse
</p>
<p>
  <b>Stiftung für Tiere in Not</b>
</p>
