$base-color: #D0E2D7;
$darker-base-color: darken($base-color, 50%);
$even-darker-base-color: darken($base-color, 65%);


body {
  background-color: $base-color;
}

.base-color {
  background-color: $base-color;
}

.text-base-color {
  color: $base-color;
}

.darker-base-color {
  background-color: $darker-base-color;
}

.text-darker-base-color {
  color: $darker-base-color;
}

.even-darker-base-color {
  background-color: $even-darker-base-color;
}

.text-even-darker-base-color {
  color: $even-darker-base-color;
}

.small-text {
  font-size: 0.8rem;
}

.bg-lightgray {
  background-color: LightGray;
}

.bg-lightcyan {
  background-color: LightCyan;
}

.text-lightgray {
  color: LightGray;
}

.bg-lightskyblue {
  background-color: LightSkyBlue;
}

.max-height-300 {
  max-height: 300px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
