<div class="container-fluid">
  <div class="jumbotron bg-white">
    <div id="process_to_create_home_offer">
      <%= render 'form_for_process_to_create_home_offer', offerer: @offerer %>
    </div>
  </div>
</div>
