<footer class="footer text-muted darker-base-color">
  <div class="container darker-base-color">
    <div class="p-5">

    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h3 class="text-lightgray">Laufend:</h3>
        <p class="text-lightgray">
          <b>Bestellplätze gesucht!</b><br />
          Haben Sie einen freien Platz für ein Beistellpferd? <br />
          Wir freuen uns auf Ihre Kontaktaufnahme.
        </p>
      </div>
      <div class="col-sm-12 col-md-4 pt-2">
        <h3 class="text-lightgray">Patenschaft</h3>
        <p class="text-lightgray">
          Sie möchten die Patenschaft für ein Tier übernehmen?
          Hier finden Sie alle Informationen dazu.
        </p>
      </div>
      <div class="col-sm-12 col-md-4 pt-2">
        <h3 class="text-lightgray">Spenden</h3>
        <p class="text-lightgray">
          Sie möchten unsere Arbeit mit einer Spende unterstützen? Mit Ihrer Hilfe können auch wir weiter helfen.
        </p>
      </div>
      <div class="col-sm-12 col-md-4 pt-2">
        <h3 class="text-lightgray">Praktikum</h3>
        <p class="text-lightgray">
          Freier Praktikumsplatz bei Stinah
        </p>
      </div>
    </div>
  </div>
</footer>
