<footer class="footer text-muted darker-base-color">
  <div class="container darker-base-color">
    <div class="row pt-4 mb-n4">
      <div class="col-sm-12 col-md-4">
      </div>
      <div class="col-sm-12 col-md-4">
      </div>
      <div class="col-sm-12 col-md-4 text-white">
        <% if user_signed_in? %>
          <%= link_to 'Profil bearbeiten', edit_user_registration_path, class: "text-white" %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-white"  %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "text-white"  %> |
          <%= link_to "Registrieren", new_user_registration_path, class: "text-white"  %>
        <% end %>
      </div>
    </div>
    <br />
    <hr class="bg-lightgray">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h3 class="text-lightgray">Laufend:</h3>
        <p class="text-lightgray">
          <b>Bestellplätze gesucht!</b><br />
          Haben Sie einen freien Platz für ein Beistellpferd? <br />
          Wir freuen uns auf Ihre Kontaktaufnahme.
        </p>
      </div>
      <div class="col-sm-12 col-md-4 pt-2">
        <h3 class="text-lightgray">Patenschaft</h3>
        <p class="text-lightgray">
          Sie möchten die Patenschaft für ein Tier übernehmen?
          Hier finden Sie alle Informationen dazu.
        </p>
      </div>
      <div class="col-sm-12 col-md-4 pt-2">
        <h3 class="text-lightgray">Spenden</h3>
        <p class="text-lightgray">
          Sie möchten unsere Arbeit mit einer Spende unterstützen? Mit Ihrer Hilfe können auch wir weiter helfen.
        </p>
      </div>
      <div class="col-sm-12 col-md-4 pt-2">
        <h3 class="text-lightgray">Praktikum</h3>
        <p class="text-lightgray">
          Freier Praktikumsplatz bei Stinah
        </p>
      </div>
      <p class="p-2">

      </p>
    </div>
  </div>
</footer>
