<nav class="navbar navbar-expand-sm navbar-light bg-light height-200 border-top">
  <%= link_to root_path, class: "navbar-brand" do %>
      Admin
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarForSponsors" aria-controls="navbarForSponsors" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarForSponsors">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= link_to "Alle Platz-Anfragen", home_requests_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Alle Platz-Angebote", home_offers_path, class:"nav-link"  %>
      </li>
    </ul>
    </ul>
  </div>
</nav>
