<nav class="navbar navbar-expand-sm navbar-light bg-light height-200 border-top">
  <%= link_to root_path, class: "navbar-brand" do %>
      Freiwillige
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarForMembers" aria-controls="navbarForMembers" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarForMembers">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <%= link_to "Einsatzkalender", work_calendar_path, class:"nav-link"  %>
      </li>
      <li class="nav-item">
        <div class="nav-link">
                  Nächster Einsatz: <span class="text-success"><b><u><%= current_user.next_work %></u></b></span>
        </div>
      </li>
    </ul>
  </div>
</nav>
